.marco {
  width: 175px; /* Ancho del marco */
  height: 175px; /* Alto del marco */
  border: 2px solid #000; /* Borde del marco */

  border-radius: 50%;
  position: relative;
}

/* Estilo para el índice */
.indice {
  width: 70px; /* Ancho del índice */
  position: absolute;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  /* Posición desde arriba */
  /* Posición desde la derecha (crea un hueco) */
  z-index: 2;
}

.bg {
  background: rgb(5, 150, 105);
  background: linear-gradient(
    58deg,
    rgba(5, 150, 105, 1) 35%,
    rgba(217, 119, 6, 1) 60%
  );
}
.hov:hover{
  background-color: rgb(249, 249, 249);
}