<div class="m-32 ">
  <div *ngFor="let item of teachers; let i = index" class="mx-10 border-b py-5 rounded-sm p-2 hov">
    <h2 class="text-3xl ">{{ item.name }}</h2>
    <div class="m-3 flex ">
      <div class="marco flex bg">
        <div class="indice">
          <img [src]="item.index" alt="" class="" />
        </div>
        <div class="absolute">
          <img [src]="item.img" class="w-44" />
        </div>
      </div>
      <div class="w-10/12 block mx-5">
        <p class="mx-2"><b>Description: </b>{{ item.description }}</p>
        <p class="mx-2"><b>Teaching Style: </b>{{ item.style }}</p>
        <p class="mx-2"><b>Ability: </b>{{ item.abilities }}</p>
        <p class="mx-2"><b>Teaching Classes:</b>{{ item.classes }}</p>
      </div>
    </div>
    <button
      [routerLink]="['/matriculate/teacherId=' + item.id]"
      class="m-4 text-blue-500 underline"
    >
      Choose him
    </button>
  </div>
</div>
