.marco {
  width: 175px; /* Ancho del marco */
  height: 175px; /* Alto del marco */
  border: 2px solid #000; /* Borde del marco */

  border-radius: 50%;
  position: relative;
}

/* Estilo para el índice */
.indice {
  width: 70px; /* Ancho del índice */
  position: absolute;
  border-radius: 50%;
  right: 10px;
  bottom: 10px;
  /* Posición desde arriba */
  /* Posición desde la derecha (crea un hueco) */
  z-index: 10;
}

.bg {
  
  background: rgb(5, 150, 105);
  background: linear-gradient(
    58deg,
    rgba(5, 150, 105, 1) 35%,
    rgba(217, 119, 6, 1) 60%
  );
}
.hov:hover{
  background-color: rgb(249, 249, 249);
}
.rounded-div {
  background-color: white;
  z-index: 1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  border: 6px solid #000000; /* Set the border width and color */
  border-radius: 50%; /* Make the div a circle by setting border-radius to 50% */
}