<div class="p-2 dark:bg-gray-800 dark:text-gray-300 mt-28">
  <div *ngFor="let item of teachers; let i = index" class="mx-10 border-b py-5 rounded-sm p-2 dark:hover:bg-gray-700 hover:bg-gray-100">
    <h2 class="text-2xl ml-3 rockSalt">{{ item.name }}</h2>
    <div class="m-3 block">
      <div class="bg mr-2 lg:w-44 lg:h-44 h-20 border-2 w-20 border-black float-left relative rounded-full">
        <div class="w-8 md:w-20 absolute rounded-full right-1 md:right-2 bottom-1 z-20">
          <img [src]="item.index" alt="" class="" />
        </div>
        <div class="bg-teal-50 z-10 md:top-3.5 md:right-3.5 top-1.5 right-1.5 w-16 h-16  lg:w-36 lg:h-36 lg:border-4 border border-black rounded-full overflow-hidden absolute">
          <img [src]="item.img" class="" />
        </div>
      </div>
      <div class="block">
        <p class="mx-2"><b>Description: </b>{{ item.description }}</p>
        <p class="mx-2"><b>Teaching Style: </b>{{ item.style }}</p>
        <p class="mx-2"><b>Ability: </b>{{ item.abilities }}</p>
        <p class="mx-2"><b>Teaching Classes:</b>{{ item.classes }}</p>
      </div>
    </div>
    <button [routerLink]="['/matriculate/teacherId=' + item.id]" class="m-4 text-blue-500 underline dark:text-blue-300">
      Choose him
    </button>
  </div>
</div>