.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-height:4px;
  --mdc-linear-progress-track-height: 4px;

}

::ng-deep .mdc-linear-progress_secondary_bar span {
  height: 10px;
}
.mdc-linear-progress__bar-inner {
  display: flex;
}