<div class="bg-gray-200 h-screen ">
  <div class="mx-auto ">
    <div class="grid grid-cols-12 gap-4 h-screen ">
      <nav class="col-span-4 md:col-span-2 py-40 border-r-2 h-full border-gray-600 bg-gray-600 flex items-center">
        <!-- Vertical Navigation Menu -->
        <div class="flex flex-col first:border-t w-full">
          <div *ngFor="let item of teachers" class="text-white border-b border-gray-200 ">
            <div class="">
              <button 
                class="w-full text-left p-4  {{ selectedItemId === item.id ? 'bg-gray-200 text-gray-800' : '' }}" 
                (click)="handleItemClick(item.id)"
              >
                {{ item.name }}
              </button>
            </div>
          </div>
        </div>
      </nav>
      
      <div class="md:col-span-10 col-span-8">
        <!-- Table -->
        <table class="w-full bg-white rounded-lg shadow-md">
          <thead>
            <tr>
              <th class="py-2 px-4 bg-gray-100">Column 1</th>
              <th class="py-2 px-4 bg-gray-100">Column 2</th>
              <!-- Add more table headers if required -->
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="py-2 px-4">Data 1</td>
              <td class="py-2 px-4">Data 2</td>
              <!-- Add more table data rows as needed -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
