<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"
    rel="stylesheet"
  />
</head>

  <div class="bg-orange-100 fixed-toolbar pt-4">
    <div class="flex flex-row justify-between items-center w-full">
      <div class="flex items-center p-3">
        <img class="img" [src]="imgPath" width="70" height="70" />
        <a href=""><h1 class="mx-2 rockSalt text-sm md:text-lg">Escuela Tortuga</h1></a>
      </div>
  
      <!-- Render hamburger menu if isMobile is true -->
      <div *ngIf="isMobile">
        <!-- Add code for your hamburger menu here -->
        <button (click)="toggleMobileMenu()" class="m-3 text-4xl">☰</button>
        <div *ngIf="mobileMenuOpen" class="mobile-menu">
          <a *ngFor="let item of items" routerLink="/{{ item.id }}" class="text text-xs md:text-base lg:text-lg">
            {{ item.label }}
          </a>
        </div>
      </div>
  
      <!-- Render full menu if isMobile is false -->
      <nav class="menu pr-2" *ngIf="!isMobile">
        <a *ngFor="let item of items" routerLink="/{{ item.id }}" class="text mx-4 text-xs md:text-base lg:text-lg">
          {{ item.label }}
        </a>
      </nav>
    </div>
    <app-progress-bar></app-progress-bar>
  </div>




