<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap"
    rel="stylesheet"
  />
</head>

<div class="bg-orange-100 fixed-toolbar pt-4 -mb-1">
  <mat-slide-toggle color="warn"
    class="float-right mr-8 -mb-2"
    #darkModeSwitch
  ></mat-slide-toggle>
  <div class="flex flex-row justify-between items-center w-full">
    <div class="flex items-center p-3">
      <img class="img" [src]="imgPath" width="70" height="70" />
      <a href=""
        ><h1 class="mx-2 rockSalt text-sm md:text-lg">Escuela Tortuga</h1></a
      >
    </div>

    <div *ngIf="isMobile" class="">
      <div class="flex">
        <button (click)="toggleMobileMenu()" class="md:mr-10 mr-5 text-4xl">
          ☰
        </button>
      </div>
      <div></div>
    </div>
    <div
      *ngIf="mobileMenuOpen"
      class="mobile-menu w-3/12 bg-slate-600 opacity-80 -pb-20 bg"
    >
      <a
        *ngFor="let item of items"
        routerLink="/{{ item.id }}"
        class="text text-xs md:text-base lg:text-lg w-full text-center text-white border-white border-b pb-2"
      >
        {{ item.label }}
      </a>
    </div>

    <!-- Render full menu if isMobile is false -->
    <div class="hidden lg:block">
      <nav class="menu pr-2 float-left" *ngIf="!isMobile">
        <a
          *ngFor="let item of items"
          routerLink="/{{ item.id }}"
          class="text mx-4 text-xs md:text-base lg:text-lg"
        >
          {{ item.label }}
        </a>
      </nav>
      <div
        class="sm:float-right hidden lg:block mx-4 -mt-3 mb-2 transform transition-transform float-left sm:scale-90"
      ></div>
    </div>
  </div>

  <app-progress-bar></app-progress-bar>
</div>
