<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dragon Ball School</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="grid grid-cols-6">
    <div class="grid-cols-1 bg-white" id="fondo"> </div>
    <div class="grid-cols-2 col-span-6 lg:col-span-4 " id="content">
        <section id="home" class="hero bg-cover bg-center py-20 text-black">
        <div class="container mx-auto text-center">
            <h1 class=" lg:text-4xl sm:text-xl text-base font-bold">Welcome to Dragon Ball School</h1>
            <p class=" mt-4 text-sm md:text-lg">Your journey to becoming a super student begins here.</p>
            <a href="matriculate" class="btn btn-primary mt-6 text-sm md:text-lg">Join the Adventure</a>
        </div>
    </section>

    <section id="about" class="about container mx-auto py-16">
        <h2 class="text-2xl font-semibold text-yellow-400">About Us</h2>
        <p class="text-lg mt-4">At Dragon Ball School, we provide world-class education and training in martial arts, alongside academic excellence.</p>
    </section>

    <section id="programs" class="programs container mx-auto py-16">
        <h2 class="text-2xl font-semibold text-yellow-400">Our Programs</h2>
        <ul class="text-lg mt-4 space-y-2">
            <li>Kamehameha Studies</li>
            <li>Hyperbolic Time Chamber Training</li>
            <li>Saiyan Strength and Conditioning</li>
        </ul>
    </section>

    <section id="choose-teacher" class="choose-teacher bg-yellow-100 py-16">
        <div class="container mx-auto text-center">
            <h2 class="text-2xl font-semibold text-yellow-400">Choose Your Teacher</h2>
            <p class="text-lg mt-4">Explore our roster of experienced instructors and mentors who will guide you on your journey.</p>
            <a href="teachers" class="btn btn-primary mt-6">Meet the Teachers</a>
        </div>
    </section>

    <section id="admissions" class="admissions container mx-auto py-16">
        <h2 class="text-2xl font-semibold text-yellow-400">Join the Adventure</h2>
        <p class="text-lg mt-4">Join us now and embark on a journey to unlock your hidden potential.</p>
        <a href="aboutUs" class="btn btn-primary mt-6">Contact Master Roshi</a>
    </section>

    <section id="contact" class="contact container mx-auto py-16">
        <h2 class="text-2xl font-semibold text-yellow-400">Contact Us</h2>
        <p class="text-lg mt-4">Email: infodragonballschool.com</p>
        <p class="text-lg">Phone: (123) 456-7890</p>
    </section>
</div>
<div class="grid-cols-1  bg-white" id="fondo"></div>
</div>
    <footer class="bg-yellow-400 py-2 text-white text-center">
        <p>&copy; 2023 Dragon Ball School</p>
    </footer>
</body>
</html>