<div
  class="bg-gray-100 dark:bg-gray-800 text-gray-800 dark:text-white lg:h-screen h-full z-20"
>
  <header class="bg-blue-500 p-4 text-gray-50 text-center">
    <h1 class="text-3xl font-bold">Escuela Tortuga</h1>
    <p class="mt-2">¡Donde comienza la aventura de Dragon Ball!</p>
  </header>

  <section class="my-8 mx-4 p-8 rounded-lg dark-mode">
    <h2 class="text-2xl font-bold mb-4">Sobre Nosotros</h2>
    <p>
      Bienvenidos a Escuela Tortuga, la prestigiosa institución inspirada en el
      mágico mundo de Dragon Ball. Fundada en 1986, nuestra escuela tiene una
      rica historia de cultivar jóvenes talentos e inculcar los principios de
      disciplina, valentía y curiosidad.
    </p>

    <p>
      En Escuela Tortuga, creemos que la educación es un viaje transformador, y
      nuestra misión es proporcionar una experiencia de aprendizaje integral que
      va más allá de lo académico tradicional. Nuestro dedicado cuerpo docente,
      formado por instructores hábiles con pasión por la historia de Dragon
      Ball, se compromete a guiar a los estudiantes hacia el desbloqueo de su
      máximo potencial.
    </p>

    <p>
      Como una escuela profundamente arraigada en el espíritu de la aventura,
      ofrecemos un plan de estudios único que combina la excelencia académica
      con las enseñanzas de las artes marciales, control de ki y tecnología de
      Capsule Corp. Nuestros estudiantes no solo adquieren conocimientos, sino
      que también desarrollan resistencia y un sentido de camaradería que
      perdura toda la vida.
    </p>

    <p>
      Únete a nosotros en esta extraordinaria odisea educativa, donde cada día
      es una oportunidad para descubrir, aprender y abrazar el poder interior.
      En Escuela Tortuga, la aventura de Dragon Ball no es solo una historia,
      ¡es nuestra forma de vida!
    </p>
  </section>

  <section class="my-8 mx-4 p-8 rounded-lg dark-mode">
    <h2 class="text-2xl font-bold mb-4">Contáctanos</h2>
    <p>Comunícate con nosotros en:</p>
    <p>Correo Electrónico: info@escuelatortuga.com</p>
    <p>Teléfono: +1 (123) 456-7890</p>
  </section>
  <footer
    class="bg-blue-500 p-4 text-white text-center dark-mode lg:absolute bottom-0 w-full"
  >
    <p>&copy; 2023 Escuela Tortuga. Todos los derechos reservados.</p>
  </footer>
</div>
