.rockSalt {
    font-family: "Rock Salt", cursive;
  }
  .select-selected{
    background-color: blue;
  }
  #img{
    width: 200px;
    display:flex;
    height: 200px;
    background-repeat: no-repeat;
  }